{% extends 'main/layout.html' %}

{% block title %}
    Про документы
{% endblock %}

{% block content %}
    {% if news %}
        {% for element in news %}
            {% if element.hashtag == 'Документы' %}
                <div class="container-house">
                    <div class="container-h3">
                        <h3>{{ element.title }} <i class="container-id">id:{{ element.id }}</i></h3>
                    </div>
                    <div class="container-p">
                        <p>{{ element.full_text }}</p>
                    </div>
                    <div class="container-buttons">
                        <a href="{% url 'news-detail' element.id %}" class="btn btn-light"> Читать детальнее</a>
                        <a href="{% url 'documents' %}" class="btn btn-info">#{{ element.hashtag }}</a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
